footer{
    background-color: bisque;
}
header{
    background-color: bisque;
}
td:hover{
    transition: 0.7s;
    background-color: bisque;

}
table{
    background-color: rgb(0, 0, 0);
}
th:hover{
    background-color: bisque;
}